@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@theme{
    --font-inter: "Inter", sans-serif; 
}
@utility row{
    @apply flex items-center;
    
}

.xs\:col-span-12 {
    @media (width >= 23rem /* 640px */) {
        grid-column: span 12;
    }
}
@utility colm{
    @apply flex-col items-center;
}
.wrapper {
    @apply max-w-640  mx-auto px-6;
}
body{
    font-family:var(Inter) 
}

.bgImg {
    width: 100%;
    height: 70vh;
    background-image:
        linear-gradient(
            to right,
            #0b1f3a66 0%,
            #0b1a2ed0 80%,
            #0b1f3afa 100%
        ),
        url(../Imgs/Hero/heroBanner.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
}
.FWCard{
    background-image: url(../Imgs/infastructures/firewall.png);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.SWCard{
    background-image: url(../Imgs/infastructures/switch.png);
    width: 100%;
    height: 200px;
    background-size:cover;
    background-position:left;
    background-repeat: no-repeat;
}

.CBCard{
    background-image: url(../Imgs/infastructures/cables.png);
    width: 100%;
    height: 200px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* .RCCard{
    background-image: url(../Imgs/infastructures/Rack.png);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

.FWCard,
.SWCard,.CBCard {
    position: relative;
    overflow: hidden;
}


.FWCard::before,
.SWCard::before,
.CBCard::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.315); 
    z-index: 1;
}

.FWCard > div,
.SWCard > div {
    position: relative;
    z-index: 2;
}